.parent{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: green;
    position: relative;
}

.block-1 {
    width: 450px;
    height: 200px;
    background: grey;
    margin: 0 auto;
}

.block-2{
    width: 350px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    background: yellow;
    bottom: 50px;
}