.block-1{
    width: 400px;
    height: 300px;
    background: green;
    margin: 0 auto;
    position: relative;
}

.block-2{
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.block-3{
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    top: 0;
    right: 0;