.block{
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    margin: 0 auto;
    top: 300px;
}

.block-1{
    width: 50px;
    height: 50px;
    background: yellow;
    position: absolute;
    bottom: 100%;
    right: 100%;
}

.block-2 {
    width: 50px;
    height: 50px;
    background: yellow;
    position: absolute;
    bottom: 100%;
    left: 100%;
}

.block-3 {
    width: 50px;
    height: 50px;
    background: yellow;
    position: absolute;
    top: 100%;
    left: 100%;
}

.block-4 {
    width: 50px;
    height: 50px;
    background: yellow;
    position: absolute;
    top: 100%;
    right: 100%;
}
.block-5 {
    width: 50px;
    height: 50px;
    background: blue;
    position: absolute;
    bottom: 100%;
    left: 100%;
}

.block-6{
    width: 50px;
    height: 50px;
    background: blue;
    position: absolute;
    top: 100%;
    right: 100%;